<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Vidly-20170711102228.mdf;Initial Catalog=aspnet-Vidly-20170711102228;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>